form {
    text-align: center;
    padding:12px;
}

button {
    text-align: center;
    margin: 10px;
    display: inline-block;
}

input {
    text-align: center;
}

label {
    text-align: center;
    display: block;
}
