.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.center *{
    margin: 5px;
}

.popup {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-color: darkorchid;
    border-radius: 5px;
}

td {
    text-align: end;
}

table {
    border-spacing: .35em;
}
