.footer{
    background: rgba(255, 8, 120, 0.68);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(252, 25, 172, 0.726);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 8, 120, 0.1);
    color: white;
    text-align: center;
    padding: 10px;
    margin: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 40%;
    z-index: 100;
}

.new-post-button {
    background: rgb(0, 0, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(202, 255, 8, 0.1);
    color: white;
    padding: 10px 20px;
    width: 75%;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    margin: 4px 2px;
    font-size: 1.25rem;
}