.home-header{
  z-index: 1;
  width: 90%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    padding: 5px;
    margin: auto;
    background: #c5ff0500;
    border-radius: 16px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.762);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
}

.header-ul{
  z-index: 1;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: auto;
}

.header-h1{
  z-index: 1;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gallery-container {
  z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image-card {
    z-index: 1;
    margin: 10px;
    width: 200px;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    display: flex; /* Add flex display to stack elements vertically */
    flex-direction: column; /* Stack elements vertically */
  }
  
  .image-card img {
    z-index: 1;
    width: 100%;
    height: 150px; /* Reduce height to make room for the button/link */
    object-fit: cover;
  }
  
  .image-card .image-id {
    z-index: 1;
    padding: 10px;
    text-align: center;
  }
  
  .image-card .image-id button {
    z-index: 1;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .image-card .image-id button:hover {
    z-index: 1;
    background-color: #3e8e41;
  }



